OPENAI_API_KEY=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

# Update these with your pinecone details from your dashboard. 
# PINECONE_INDEX_NAME is in the indexes tab under "index name" in blue
# PINECONE_ENVIRONMENT is in indexes tab under "Environment". Example: "us-east1-gcp"
PINECONE_API_KEY=750cc53d-4d1a-4896-ad0b-f7fa1a412e87  
PINECONE_ENVIRONMENT=gcp-starter
PINECONE_INDEX_NAME=https://eee-5jqeiyz.svc.gcp-starter.pinecone.io 
